.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  padding: 1rem;
  max-width: 300px;
  gap: 0.5rem;
}

.strength-meter {
  display: flex;
  width: 100%;
}

.password-input {
  width: 100%;
  border: 1px solid grey;
  padding: 0.5rem 1rem;
  outline: none;
  background-color: aliceblue;
}
.password-input:focus {
  border: 1px solid black;
  background-color: azure;
}

.section {
  height: 5px;
  width: 100%;
  background: grey;
}

.strength-meter.empty .section {
  background: grey;
}
.strength-meter.easy :nth-child(1) {
  background: red;
}
.strength-meter.strong .section {
  background: green;
}
.strength-meter.short .section {
  background: red;
}
.strength-meter.medium :nth-child(1),
.strength-meter.medium :nth-child(2) {
  background: yellow;
}
